/* Carousel */
.carousel {
    width: auto;
    height: auto;

}
.carousel-inner {
    width: 100%;
    height: 100%;
}
.carousel-item {
    width: 100%;
    height: 100%;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* game */
.game-list {
    display: grid;
    grid-template-columns: repeat(4, 2fr); /* Mengatur jumlah kolom dalam grid */
    grid-gap: 20px; /* Mengatur jarak antara elemen-elemen dalam grid */
    width: 100%; /* Mengatur lebar gambar */
    height: 100%; /* Mengatur tinggi gambar */
    margin-top: 80px;
}
.game-item {
    text-align: center;
}
.game-item img {
    width: 100%; /* Mengatur lebar gambar */
    height: 100%; /* Mengatur tinggi gambar */
    object-fit: cover;
    border-radius: 10px; /* Mengatur sudut melengkung pada gambar */
}
.game-item h3 {
    margin-top: 10px; /* Mengatur jarak antara judul dan gambar */
}

h3 {
    margin-top: 70px;
    margin-bottom: 30px;
    color: black;
    font-size: me;
}

.carouseltitle{
    text-align: center;
    font-size: x-large;
}

.backg {
    margin-top: 80px;
    width: 100%;
}

.navbar-brand img{
    width: 100px;
    height: 50px;
}
.container {
    white-space: wrap;
    width: 100%;
    margin-top: 100px;
  }
  
  .container img {
    display: inline-block;
    padding: 5px;
  }

  .card{
    border: none;
  }